.article-list p {
  color:#7d8285;
}

.article-list h2 {
  font-weight:bold;
  margin-bottom:40px;
  color:inherit;
}

@media (max-width:767px) {
  .article-list h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.article-list .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
  margin-bottom:20px;
}

.article-list .intro p {
  margin-bottom:0;
}

.article-list .articles {
}

.article-list .item {
  min-height:400px;
  text-align:center;
}

.article-list .item .name {
  font-weight:bold;
  font-size:16px;
  margin-top:20px;
  color:inherit;
}

.article-list .item .description {
  font-size:14px;
  margin-top:15px;
  margin-bottom:0;
}

.article-list .item .action {
  font-size:24px;
  width:24px;
  margin:22px auto 0;
  line-height:1;
  display:block;
  color:#4f86c3;
  opacity:0.85;
  transition:opacity 0.2s;
  text-decoration:none;
}

.article-list .item .action:hover {
  opacity:1;
}

input.form-control {
}

div.uploadpopup {
  background-color:#cca;
  z-index:1;
  position:relative;
  display:none;
}

h1.profileheader {
  text-align:center;
  margin-left:51%;
  width:40%;
  padding:0;
  margin-top:-2%;
  display:inline;
}

div.container.userdetails {
  margin:auto;
}

div.form-group {
  width:60%;
  margin:auto;
}

h4.itemh4 {
  display:inline;
  height:10px;
  width:50%;
  margin-right:10%;
  font-weight:200;
}

img.img-rounded.profileimage {
  display:block;
  margin:auto;
}

h4.itemcondition {
  margin-top:0;
}

.box h3, .box p {
  text-align:center;
  width:100%;
}

form#requestatrade {
  width:40%;
  float:right;
}

body {
  min-height:100%;
  background-color:#cca;
}

img.img-rounded.starrating {
  margin-left:5%;
  margin-bottom:5%;
}

